*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.about_this{
    font-size: 14px;
}
.content-all-hero{
    margin-top: 70px;
}
.navbar{
    padding:10px 100px;
}
.navbar-toggler {
    padding: 0;
    margin-right: 16px;
    margin-top: 1px;
    font-size: 1.3rem;
}
@media screen and (max-width:580px) {
    .about_this{
        text-align: center;
    }
    .about_heading{
        text-align: center;
    }
    .content-all-hero{
        margin-top: 0;
    }
    .hero1-container{
        padding:0 20px;
    }
    .navbar{
        padding:10px 0;
    }
    .name-brand{
        font-size: 1rem;
    }
    .hero1{
        padding-bottom: 100px;
    }
    #get_winner{
        width: 100%;
    }
    .navbar-nav{
        text-align: center;
    }
    .R_btn{
        margin-top: 11px;
    }
}
.prosesing{
    animation: loader 1s linear infinite;
}
@keyframes loader {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.foot-container{
    border-top:.5px solid #dbdada;
}